body {
    /* 画面全体のフォントをHGP創英角ゴシックUBに設定 */
    /* フォントが利用できない場合は、代替としてsans-serifフォントを使用 */
    font-family: 'HGP創英角ゴシックUB', sans-serif;
}

h1 {
    /* h1タグの文字色を薄い灰色に設定 */
    color: #6e6c6c;
}

a {
    /* リンクの通常の文字色を#50db34(明るい緑色)に設定 */
    color: #50db34;
}

a:hover {
    /* リンクにマウスカーソルが乗った時の文字色を#1e80d5(青色)に設定 */
    color: #1e80d5;
}

.book-cover {
    width: 150px;
    height: auto;
}